<div class="main-content">
    <h2></h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Bits</div>
                    <div class="panel-body">
                        <div id="bitTimes">
                            <div id="bit1" class="input-group control-group after-add-more bitSelector">
                                <div class="col-xs-6">
                                    <div (click)="selectBit($event, 0)" [class.activeFont]="selectedIndex===0"
                                        [class.inactiveFont]="selectedIndex!=0">
                                    </div>
                                    <input id="s0" type="text" name="addmore[]" class="form-control" placeholder="Start"
                                        value="0:03">
                                </div>
                                <div class="col-xs-6">
                                    <input id="e0" type="text" name="addmore[]" class="form-control" placeholder="End"
                                        value="0:05.4">
                                </div>
                            </div>
                            <div id="bit2" class="input-group control-group after-add-more bitSelector">
                                <div class="col-xs-6">
                                    <div (click)="selectBit($event, 1)" [class.activeFont]="selectedIndex===1"
                                        [class.inactiveFont]="selectedIndex!=1">
                                    </div>
                                    <input id="s1" type="text" name="addmore[]" class="form-control" placeholder="Start"
                                        value="0:08">
                                </div>
                                <div class="col-xs-6">
                                    <input id="e1" type="text" name="addmore[]" class="form-control" placeholder="End"
                                        value="0:10">
                                </div>
                            </div>
                            <div id="bit3" class="input-group control-group after-add-more bitSelector">
                                <div class="col-xs-6">

                                    <div (click)="selectBit($event, 2)" [class.activeFont]="selectedIndex===2"
                                        [class.inactiveFont]="selectedIndex!=2">
                                    </div>

                                    <input id="s2" type="text" name="addmore[]" class="form-control" placeholder="Start"
                                        value="2:00">
                                </div>
                                <div class="col-xs-6">
                                    <input id="e2" type="text" name="addmore[]" class="form-control" placeholder="End"
                                        value="2:05">
                                </div>
                            </div>
                            <div id="bit4" class="input-group control-group after-add-more bitSelector">
                                <div class="col-xs-6">

                                    <div (click)="selectBit($event, 3)" [class.activeFont]="selectedIndex===3"
                                        [class.inactiveFont]="selectedIndex!=3">
                                    </div>

                                    <input id="s3" type="text" name="addmore[]" class="form-control" placeholder="Start"
                                        value="0:00">
                                </div>
                                <div class="col-xs-6">
                                    <input id="e3" type="text" name="addmore[]" class="form-control" placeholder="End"
                                        value="0:00">
                                </div>
                            </div>
                            <div id="bit5" class="input-group control-group after-add-more bitSelector">
                                <div class="col-xs-6">

                                    <div (click)="selectBit($event, 4)" [class.activeFont]="selectedIndex===4"
                                        [class.inactiveFont]="selectedIndex!=4">
                                    </div>

                                    <input id="s4" type="text" name="addmore[]" class="form-control" placeholder="Start"
                                        value="0:00">
                                </div>
                                <div class="col-xs-6">
                                    <input id="e4" type="text" name="addmore[]" class="form-control" placeholder="End"
                                        value="0:00">
                                </div>
                            </div>
                            <div id="bit6" class="input-group control-group after-add-more bitSelector">
                                <div class="col-xs-6">

                                    <div (click)="selectBit($event, 5)" [class.activeFont]="selectedIndex===5"
                                        [class.inactiveFont]="selectedIndex!=5">
                                    </div>

                                    <input id="s5" type="text" name="addmore[]" class="form-control" placeholder="Start"
                                        value="0:00">
                                </div>
                                <div class="col-xs-6">
                                    <input id="e5" type="text" name="addmore[]" class="form-control" placeholder="End"
                                        value="0:00">
                                </div>
                            </div>
                            <div id="bit7" class="input-group control-group after-add-more bitSelector">
                                <div class="col-xs-6">

                                    <div (click)="selectBit($event, 6)" [class.activeFont]="selectedIndex===6"
                                        [class.inactiveFont]="selectedIndex!=6">
                                    </div>

                                    <input id="s6" type="text" name="addmore[]" class="form-control" placeholder="Start"
                                        value="0:00">
                                </div>
                                <div class="col-xs-6">
                                    <input id="e6" type="text" name="addmore[]" class="form-control" placeholder="End"
                                        value="0:00">
                                </div>
                            </div>
                            <div id="bit8" class="input-group control-group after-add-more bitSelector">
                                <div class="col-xs-6">

                                    <div (click)="selectBit($event, 7)" [class.activeFont]="selectedIndex===7"
                                        [class.inactiveFont]="selectedIndex!=7">
                                    </div>

                                    <input id="s7" type="text" name="addmore[]" class="form-control" placeholder="Start"
                                        value="0:00">
                                </div>
                                <div class="col-xs-6">
                                    <input id="e7" type="text" name="addmore[]" class="form-control" placeholder="End"
                                        value="0:00">
                                </div>
                            </div>
                        </div>
                        <div class="input-group control-group" style="margin:25px 0px 20px 20px">
                            <div class="col-xs-4">
                                <label for="dropdownMenu2">Speed:</label>
                                <div class="dropdown" id="dropdownMenu2">
                                    <button class="btn btn-default" data-toggle="dropdown">
                                        <span id="dropdown_title2">Select</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a data-speed="0.25" tabindex="-1">.25</a></li>
                                        <li><a data-speed="0.5" tabindex="-1">.5</a></li>
                                        <li><a data-speed="1" tabindex="-1">Normal</a></li>
                                        <li><a data-speed="1.5" tabindex="-1">1.5</a></li>
                                        <li><a data-speed="2.0" tabindex="-1">2.0</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-8" style="margin:7px 0px 0px 0px">
                                <a href="#" class="btn btn-primary btn-sm bottomResetButton" id="seek"
                                    onclick="javascript:reset();" style="display:none;">reset</a>
                                <a href="#" class="btn btn-primary btn-sm bottomResetButton save" id="save">save</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="videoid">YouTube Video URL:</label>
                            <input type="text" class="form-control" id="videoid" [(ngModel)]="videoId" aria-describedby="videoidHelp"
                                placeholder="Enter Youtube Video URL" onClick="this.select();">
                        </div>
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" id="title" aria-describedby="titlehelp"
                                placeholder="Enter title" maxlength="30">
                        </div>
                        <div>
                            <a href="#" id="seek" onclick="javascript:SetVideoId();">set</a><br />
                            <div id="player"></div><br />
                            Current Time: <span id="testSpan">0:00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>